@model NewsModel

@{
    ViewBag.Title = "Haber Yükle";
}
<body>
    <div class="container d-flex justify-content-center align-items-center">      
        <div class="col-4 p-3 mt-5">
            <p class="fw-bold fs-4 text-center">Haber Bilgileri</p>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
            
            <form asp-action="AddNewArticle" method="post" enctype="multipart/form-data">
                <div class="mt-3">
                    <input class="form-control" id="InputTitle" name="Title" placeholder="Başlık *">
                    
                    <div class="mt-3">
                        <textarea class="form-control" id="InputDescription" name="Description" placeholder="Haber Metni *" rows="10"></textarea>
                    </div>
                    <div class="mt-4">
                        <p class="fw-bold fs-4 text-center">Fotoğraf Yükle</p>
                        <input type="file" id="fileInput" name="files" class="form-control form-control-image ms-3" accept="image/*">
                    </div>
                </div>

                <!--Seçilen görselin ekranda görünmesi için alan-->
                <div class="container ms-4 mt-4">
                    <div id="filePreview" class="file-preview"></div>
                </div>

                <div class="container d-flex justify-content-center align-items-center mt-4">
                    <button type="submit" class="btn text-white fw-bold mx-auto" style="background-color: darkred !important;">Haberi Yükle</button>
                </div>
                
            </form>

            

            <!--Seçilen görselin ekranda görünmesi için kod-->
            <script>
                const fileInput = document.getElementById('fileInput');
                const filePreview = document.getElementById('filePreview');

                fileInput.addEventListener('change', () => {
                    filePreview.innerHTML = '';
                    const file = fileInput.files[0]; 
                    if (file && file.type.startsWith('image/')) {
                        const img = document.createElement('img');
                        img.src = URL.createObjectURL(file);
                        filePreview.appendChild(img);
                    }
                });
            </script>

        </div>
    </div>
</body>
