@{
    ViewBag.Title = "Admin";
}

<body>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-5 p-3 mt-5"> 
            <a class="btn btn-secondary text-uppercase d-grid gap-2 col-8 mx-auto" href="/admin/list-all-adverts">İlanlar</a>
            <a class="btn btn-secondary text-uppercase d-grid gap-2 col-8 mx-auto mt-4" href="/admin/list-all-users">Üyeler</a>
            <a class="btn btn-secondary text-uppercase d-grid gap-2 col-8 mx-auto mt-4" href="/get-all-company-contact-applications">Kurumsal Üyelik Başvuruları</a>
            <a class="btn btn-secondary text-uppercase d-grid gap-2 col-8 mx-auto mt-4" href="/get-contact-applications">Mesajlar</a>
            <a class="btn btn-secondary text-uppercase d-grid gap-2 col-8 mx-auto mt-4" href="/news-options-selection">Haberler</a>
        </div>
    </div>
</body>
