@model ListAdvertsModel

@{
    ViewBag.Title = "İlan Detayı";
}

<body>
    <div class="card d-flex flex-row mb-3" style="max-height: 13rem;">
        <img src="@Url.Content($"~/images/{Model.CityName}.png")" class="card-img-start" alt="..." style="width: 14rem;">
        <div class="card-body text-start">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text fs-5">@Model.Price TL</p>

            <a href="#" class="btn btn-outline-dark btn-sm">İncele</a>
        </div>
    </div>
</body>