@using RealEstate.DataAccess.Models;
@model RealEstate.DataAccess.Models.LoginModel;
@{
    ViewBag.Title = "Login";
}
<body>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-4 p-3 mt-5">
            <form asp-action="Login" method="post">
                <p style="text-align: center;" class="fw-bold fs-3">Üye Girişi</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <div class="mb-3">
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" name="Email" placeholder="E-Posta Adresi">
                </div>
                <div class="mb-3">

                    <input type="password" class="form-control" id="InputPassword" name="Password" placeholder="Şifre">
                </div>              
                <button type="submit" class="btn btn-secondary d-grid gap-2 col-8 mx-auto">Giriş Yap</button>   
                
            </form>
            <a class="btn d-grid gap-2 col-8 mx-auto mt-4" href="/register/registering-selection">Üye Değil Misiniz? Üye Olun</a>
        </div>
        
    </div>
    
</body>
