@{
    ViewBag.Title = "Seçenekler";
}
<body>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-4 p-3 mt-5">
            <a class="btn btn-secondary d-grid gap-2 col-8 mx-auto text-uppercase" href="/add-new-article">Haber Yükle</a>
            <a class="btn btn-secondary d-grid gap-2 col-8 mx-auto mt-4 text-uppercase" href="/list-all-news-for-admin">Haberleri Görüntüle</a>
        </div>
    </div>
</body>