.navbar {
    background-color: whitesmoke;
}
.form-label {
    display: block;
    text-align: center; /* Başlıkları ortalar */
    width: 100%;
}
#loginButton {
    background-color: black;
    
}
#AdvertiseButton{
    background-color: green !important;
}
#logoutButton {
    background-color: black;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container.body-content {
    flex: 1;
}

#footer {
    flex-shrink: 0;
    background-color: whitesmoke;
}



